/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #070714;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
}